[submodule "CPSL_TI_Radar_cpp/include/json"]
	path = CPSL_TI_Radar_cpp/include/json
	url = https://github.com/nlohmann/json.git
[submodule "shipped_firmware/IWR1443/dca1000_raw/iwr_raw_rosnode"]
	path = shipped_firmware/IWR1443/dca1000_raw/iwr_raw_rosnode
	url = https://github.com/davidmhunt/iwr_raw_rosnode.git
[submodule "firmware_dev"]
	path = firmware_dev
	url = https://github.com/davidmhunt/CPSL_TI_Radar_Firmware_Dev.git
	branch = release/v2.0
	update = none
[submodule ".friday"]
	path = .friday
	url = https://github.com/davidmhunt/friday.git
